%li.comment-rank-content__list__block
  .index-content
    .top-area
      .num
        1
      .user-meta
        .avatar
          = link_to "" do
            %img{style: "background-image: url('https://newspicks.com/users/100616/cover?width=100&height=100&t=20180406010046000')"}
        .name
          堀江貴文
      .following
        = link_to "" do
          = image_tag "follow-button-off.5076162e.png";
    .bottom-text-area
      .comment-content
        .comment-content__inner
          肉うめえええええ
      .news-content
        .news-content__inner
          なんとかニュース
