.inovation-content-mm
  .inovation-content-block
    .inovation-content-block__top
      .title
        イノベーション
      .logo
      .inherit-color
        = link_to "イノベーション 一覧を見る", ""
    .inovation-content-block__main
      .inovation-content-block__main__left
        .top
          .left-img-area
            %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
          .right-text-area
            .title-area
              スペースX、国際宇宙ステーションに『３トンの物資を配達』
            .picker-area
            .bottom-area
              8時間前
        .bottom
          .left-img-area
            %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
          .right-text-area
            .title-area
              スペースX、国際宇宙ステーションに『３トンの物資を配達』
            .picker-area
            .bottom-area
              8時間前
      .inovation-content-block__main__right
        %img{style: ""}
