= link_to("/news/#{news.id}") do
  %li.news-block
    // トップ画面 右側 新着ニュースの部分
    .news-block__top
      = news.title
    .news-block__bottom
      .news-text
      .published-time
        = time_ago_in_words(news.created_at) + "前"

