%li.main-content-news__block
  //トップ画面 メインコンテンツブロック
  .image-area
    = link_to "/news/1" do
      %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
  .text-area
    .news-title
      ウォーレンバフェット！！
    .picker-space
      .picker-space__top
        .picker-space__top__left
        .picker-space__top__right
          .top
            山田太郎
          .bottom
            第一生命経済研究所　経済学部
      .picker-space__bottom
        .comment
          コーラやる
          コーラやる
    / %ul.picker-list
    /   %li.picker-list__avatar
    /   %li.picker-list__avatar
    .meta
      .news-site
        コカコーラ
      .pick-time
        22年前

