.header
  .header__left
    = link_to "" do
      %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
    .text-area
      .top-space
        .count-picks
          64Picks
      .center-main-space
        .title
        【速報】ブロックチェーンがやばい！俺氏発狂！！
      .bottom-space
        .news-site-name
          ファッキンニュース
        .picks-time
          3時間前
  .header__right
    .top
      = link_to "" do
        %img{ style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
      .text-area
        .top-space
          .count-picks
            64Picks
        .center-main-space
          .title
          【速報】ブロックチェーンがやばい！俺氏発狂！！
    .bottom
      = link_to "" do
        %img{ style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
      .text-area
        .top-space
          .count-picks
            64Picks
        .center-main-space
          .title
          【速報】ブロックチェーンがやばい！俺氏発狂！！
