%li.user-rank-content__list__block
  .index
    .rank-area
      .number
        1
    .user-avatar
      %img{style: "background-image: url('https://newspicks.com/users/100616/cover?width=100&height=100&t=20180406010046000')"}
    .user-info
      .name
        ホリエモン
      .title
        SNS media & commentator
      .following-count
        .left-area
          週間 Liked ユーザー数:
        .right-area
          1000
    .following
      = image_tag "follow-button-off.5076162e.png"

