= button_to news_pick_likes_path(news_id: pick.product.id, pick_id: pick.id), id: "like-buttons", remote: true do
  = image_tag "like.png"
  .count
    - if pick.likes_count == nil
      0
    - else
      = pick.likes_count
  .like-label Likes
