.search-result-page
  .search-result-page-header
    .search-result-page-header-top
      %a{:href => "#"}トップ
    .search-result-page-header-company
      %a{:href => "#"}企業/業界
    .search-result-page-header-chart
      %a{:href => "#"}チャート
    .search-result-page-header-comment
      %a{:href => "#"}コメント
    .search-result-page-header-comment
      %a{:href => "#"}ユーザー
  .search-result-page-content
    .search-result-page-leftcontent
      .search-result-page-leftcontent-comment-users
        .search-result-page-leftcontent-comment-users-user
          %a{:href => "#"}
            .search-result-page-leftcontent-companyname
              .search-result-page-leftcontent-companyname-name 株式会社 株式会社
              .search-result-page-leftcontent-companyname-num (2000)
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 代表者
              .search-result-page-leftcontent-company-content-name 代表取締社長 苗字 名前
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 住所
              .search-result-page-leftcontent-company-content-name 東京都新宿区１１１１１１１１
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 上場・取引市場
              .search-result-page-leftcontent-company-content-name 東証1部
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 業種
              .search-result-page-leftcontent-company-content-name 製造
        .search-result-page-leftcontent-comment-users-user
          %a{:href => "#"}
            .search-result-page-leftcontent-companyname
              .search-result-page-leftcontent-companyname-name 株式会社 株式会社
              .search-result-page-leftcontent-companyname-num (2000)
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 代表者
              .search-result-page-leftcontent-company-content-name 代表取締社長 苗字 名前
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 住所
              .search-result-page-leftcontent-company-content-name 東京都新宿区１１１１１１１１
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 上場・取引市場
              .search-result-page-leftcontent-company-content-name 東証1部
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 業種
              .search-result-page-leftcontent-company-content-name 製造
        .search-result-page-leftcontent-comment-users-user
          %a{:href => "#"}
            .search-result-page-leftcontent-companyname
              .search-result-page-leftcontent-companyname-name 株式会社 株式会社
              .search-result-page-leftcontent-companyname-num (2000)
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 代表者
              .search-result-page-leftcontent-company-content-name 代表取締社長 苗字 名前
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 住所
              .search-result-page-leftcontent-company-content-name 東京都新宿区１１１１１１１１
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 上場・取引市場
              .search-result-page-leftcontent-company-content-name 東証1部
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 業種
              .search-result-page-leftcontent-company-content-name 製造
        .search-result-page-leftcontent-comment-users-user
          %a{:href => "#"}
            .search-result-page-leftcontent-companyname
              .search-result-page-leftcontent-companyname-name 株式会社 株式会社
              .search-result-page-leftcontent-companyname-num (2000)
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 代表者
              .search-result-page-leftcontent-company-content-name 代表取締社長 苗字 名前
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 住所
              .search-result-page-leftcontent-company-content-name 東京都新宿区１１１１１１１１
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 上場・取引市場
              .search-result-page-leftcontent-company-content-name 東証1部
            .search-result-page-leftcontent-company-content
              .search-result-page-leftcontent-company-content-title 業種
              .search-result-page-leftcontent-company-content-name 製造
  .search-result-user-rightcontent
    .search-result-user-rightcontent-sposored
    %a{:href => "#"}
      .search-result-user-rightcontent-sposored-contents
        .search-result-user-rightcontent-sposored-contents-img
          %img{:src => "https://newspicks.com/search/banner/sp0001"}/
        .search-result-user-rightcontent-sposored-contents-sponsoredmark
          %img{:src => "https://newspicks.com/images/sponsored.a951b031.png"}/
        .search-result-user-rightcontent-sposored-contents-speeda
          %img{:src => "https://newspicks.com/images/speeda-logo.f749cac3.png"}/
        .search-result-user-rightcontent-sposored-contents-more 詳細を見る
    .search-result-user-rightcontent-keywordcomment 検索キーワードにヒットした業界
    .search-result-user-rightcontent-industry
      %a{:href => "#"}
        .search-result-user-rightcontent-industry-name 業種
        .search-result-user-rightcontent-industry-data 業種内容業種内容業種内容業種内容業種内容業種内容業種内容業種内容業種内容
    .search-result-user-rightcontent-industry
      %a{:href => "#"}
        .search-result-user-rightcontent-industry-name 業種
        .search-result-user-rightcontent-industry-data 業種内容業種内容業種内容業種内容業種内容業種内容業種内容業種内容業種内容
    .search-result-user-rightcontent-industry
      %a{:href => "#"}
        .search-result-user-rightcontent-industry-name 業種
        .search-result-user-rightcontent-industry-data 業種内容業種内容業種内容業種内容業種内容業種内容業種内容業種内容業種内容
