.search-result-page
  .search-result-page-header
    .search-result-page-header-top
      %a{:href => "#"}トップ
    .search-result-page-header-company
      %a{:href => "#"}企業/業界
    .search-result-page-header-chart
      %a{:href => "#"}チャート
    .search-result-page-header-comment
      %a{:href => "#"}コメント
    .search-result-page-header-comment
      %a{:href => "#"}ユーザー
  .search-result-page-search-tool-bar
    .search-result-page-search-tool-bar-pick LIKE数:指定なし▼
    .search-result-page-search-tool-bar-period 期間:指定なし▼
    .search-result-page-search-tool-bar-soot ソート順:おすすめ▼
  .search-result-page-content
    .search-result-page-leftcontent
      .search-result-page-leftcontent-comment-users
        .search-result-page-leftcontent-comment-users-user
          %a{:href => "#"}
            .search-result-page-leftcontent-comment-users-user-img
              %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
            .search-result-page-leftcontent-comment-users-user-name 苗字 名前
            .search-result-page-leftcontent-comment-users-user-position 肩書き
            .search-result-page-leftcontent-comment-users-user-comment コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示
            .search-result-page-leftcontent-comment-users-user-contlike
              .search-result-page-leftcontent-comment-users-user-contlike-img
                %img{:src => "https://newspicks.com/images/like-g.bad78a75.png"}/
              .search-result-page-leftcontent-comment-users-user-contlike-num 00
              .search-result-page-leftcontent-comment-users-user-contlike-like Like
            .search-result-page-leftcontent-comment-users-user-newstitle ニュースタイトル長い場合は途中で途切れますニュースタイトル長い場合は途中で途切れますニュースタイトル長い場合は途中で途切れますニュースタイトル長い場合は途中で途切れます
            .search-result-page-leftcontent-comment-users-user-newssorce ニュースソース
        .search-result-page-leftcontent-comment-users-user
          %a{:href => "#"}
            .search-result-page-leftcontent-comment-users-user-img
              %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
            .search-result-page-leftcontent-comment-users-user-name 苗字 名前
            .search-result-page-leftcontent-comment-users-user-position 肩書き
            .search-result-page-leftcontent-comment-users-user-comment コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示コメント長い場合は途中まで表示
            .search-result-page-leftcontent-comment-users-user-contlike
              .search-result-page-leftcontent-comment-users-user-contlike-img
                %img{:src => "https://newspicks.com/images/like-g.bad78a75.png"}/
              .search-result-page-leftcontent-comment-users-user-contlike-num 00
              .search-result-page-leftcontent-comment-users-user-contlike-like Like
            .search-result-page-leftcontent-comment-users-user-newstitle ニュースタイトル長い場合は途中で途切れますニュースタイトル長い場合は途中で途切れますニュースタイトル長い場合は途中で途切れますニュースタイトル長い場合は途中で途切れます
            .search-result-page-leftcontent-comment-users-user-newssorce ニュースソース
  .search-result-user-rightcontent
    .search-result-user-rightcontent-keywordcomment キーワードに関連するユーザー
    .search-result-user-rightcontent-comment
      %a{:href => "#"}
        .search-result-user-rightcontent-comment-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .search-result-user-rightcontent-comment-username 苗字 名前
        .search-result-user-rightcontent-comment-userdata 肩書き
        .search-result-user-rightcontent-comment-followimg
          %img{:src => "https://newspicks.com/images/follow-button-off.5076162e.png"}/
    .search-result-user-rightcontent-comment
      %a{:href => "#"}
        .search-result-user-rightcontent-comment-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .search-result-user-rightcontent-comment-username 苗字 名前
        .search-result-user-rightcontent-comment-userdata 肩書き
        .search-result-user-rightcontent-comment-followimg
          %img{:src => "https://newspicks.com/images/follow-button-off.5076162e.png"}/
    .search-result-user-rightcontent-comment
      %a{:href => "#"}
        .search-result-user-rightcontent-comment-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .search-result-user-rightcontent-comment-username 苗字 名前
        .search-result-user-rightcontent-comment-userdata 肩書き
        .search-result-user-rightcontent-comment-followimg
          %img{:src => "https://newspicks.com/images/follow-button-off.5076162e.png"}/

