/ 左サイドバー始まり
.pick-stream.fixed-left
  .stream-container
    .user-profile-tile
      %a{"data-user" => "#", :href => "#"}
        .user-header
          .user-icon
            %img{:src => "https://newspicks.com/users/3312248/cover?width=96&height=96&circle=true&t=20180402041752000"}/
          .user-info
            .user-name 苗字 名前
            .user-title 会社名 役職1
            / ログインしていない場合
            / .user-noaccountname No Account
            / %a{:href => "#"}
            /   .user-noaccountname-title アカウントを作成する
      / フォローインフォーはじまり
      .follow-info
        %a{:href => "#"}
          .user-profile-following
            .follow-count 0
            .follow-caption フォロー
        %a{:href => "#"}
          .user-profile-follower
            .follow-count 0
            .follow-caption フォロワー
      / フォローインフォー終わり
    .mynewss
      .mynews
        %a{:href => "#"}
          %p.mynews-edit
            マイニュースを作ろう
            %span#sankaku &gt;
          %p.mynews-customize 興味に合わせてカスタマイズできます
          / ログインしていない場合
          / %p.mynews-noaccount-edit 人気ユーザー
    .timeline
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
      .picker
        .picker-img
          %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        .picker-name 苗字aaa 名前
        .picker-time 0分前
        .picker-kansou 記事の感想は長い場合途切れるようにしています記事の感想は長い場合途切れるようにしています
        .picker-news 記事のタイトルは長い場合途切れるようにしています記事のタイトルは長い場合途切れるようにしています
        .wopicksimasita をPickしました。
  / 左サイドバー終わり

