/ 左サイドバー始まり
.pick-stream.fixed-left
  .stream-container
    .user-profile-tile
      %a{"data-user" => "#", :href => "#"}
        .user-header
          .user-icon
            %img{:src => "https://newspicks.com/users/3312248/cover?width=96&height=96&circle=true&t=20180402041752000"}/
          .user-info
            .user-name 苗字 名前
            .user-title 会社名 役職

    .menu-items
      %span.menu-header アカウント
      %a.menu-item{href:"/settings/profile/"} ユーザ情報
      %a.menu-item{href:"/settings/mail/"} メールアドレス設定
      %a.menu-item{href:"/settings/password/"} パスワード設定
      %span.menu-header 有料サービス
      %a.menu-item{href:"/settings/subscriptions/"} 登録中のプラン
      %span.menu-header 機能設定
      %a.menu-item{href:"/settings/mute/"} 非表示コメント
      %a.menu-item{href:"/settings/social/"} 外部サービス設定
      %a.menu-item{href:"/settings/query/"} キーワード設定
      %a.menu-item{href:"/settings/newsletters/"} メールマガジン購読設定
      %a.menu-item{href:"/settings/scout/"} 求人応募情報
