= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main

      .setting-mute
        .setting-container
          %h1 コメントを非表示にしたアカウント
          .description 以下のユーザのコメントは、記事コメント欄に表示されません
          .setting-form
          .loading.hide
            -# ローディング中の画像
            -# %img{src:"/images/loading.e1ce83e8.gif"}
