= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main

      .setting-container
        %h1 パスワード設定
        .setting-form
          .form-field#currentPasswordField
            %label{for:"currentPassword"} 現在のパスワード
            %input{id:"currentPassword" ,maxlengh:"20" ,name:"currentPassword" ,type:"text"}
            .forget-password
              %a{href:"/forgotpassword" ,target:"_blank"} パスワード未登録、または忘れた方はこちら
          .error-message-new{style:"display: none;"}
          .form-field#newPasswordField
            %label{for:"newPassword"} 新しいパスワード
            %input{id:"newPassword" ,name:"newPassword" ,type:"text" }
          .form-field#newPasswordConfirmField
            %label{for:"newPasswordConfirm"} 確認
            %input{id:"newPasswordConfirm" ,name:"newPasswordConfirm" ,type:"text" }
        .setting-buttons
          %button.saveBtn{type: "button"} 保存する
