= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main

      .setting-container
        %h1 キーワード設定/編集
        .description キーワードの通知設定 / フォローの解除ができます
        .error-message-new{style:"display: none;"}
        .link
          .add-link
            .add-icon
            .add-text　キーワードを追加する
          .nothing 登録されているキーワードはありません
