%li.usertitle
  .follow__tag
    %img.usercover{:src => ""}/
    .profile-container
      .name-wrapper
        山田 次郎
      .title
        山田株式会社
      .title
        やまだでございま〜す
    .counts
      .reration
        %span.t フォロー
        %span.v 7777
      .vr
      .reration
        %span.t フォロワー
        %span.v 7777
    .follow-btn{"data-user" => "2", :onclick => "NP.follow(event)"}
      %img.following{:src => "/assets/follow-button-on.png"}/
