// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  height: 100%;
}
.settings{
  background-color: rgb(200, 200, 200);
  float: right;
  width:calc(100% - 192px);
  margin-top: 50px;
  // height:100%;
  &__contents{
    margin: 24px 32px 0 24px;
    &__main{
      margin:0 auto;
      width: 844px;
    }
  }
}

.name-registration{
  background-color: white;
  vertical-align: middle;
  height: 104px;
  width: 100vw;
  display: table-cell;
  &__left{
    width: 556px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 72px;
    p{
      font-size: 14px;
    }
  }
  &__right{
    display: inline-block;
    border: 1px solid #54AB23;
    color: #54AB23;
    width:136px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
  }
}

.setting-container{
  width:844px;
  margin-top: 10px;
  margin-bottom: 48px;
  background-color: white;
  padding: 72px;
  h1{
    padding: 0 0 24px;
    font-weight: 400;
    font-size: 20px;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
}
.setting-form{
  padding-top: 24px;
  border-top: 1px solid #d9d9d9;
}

.form-field{
  margin-bottom: 32px;
  .short{
    width:226px;
    border: none;
  }
  label{
    width: 232px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input{
    height: 40px;
    width: 460px;
    color: #222;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
  }
  input[disabled]{
    border: none;
  }
}

.cover{
  position: relative;
  display: inline-block;
  img{
    width: 65px;
    min-height: 65px;
    vertical-align: middle;
  }
  button{
    margin-left: 16px;
    border: 1px solid #EFEFEF;
    background-color: #EFEFEF;
    color: #666;
    border-radius: 2px;
    transition: all .1s linear;
    width: 78px;
    height: 38px;
  }
}

.setting-buttons{
  margin: 32px auto 40px;
  button{
    width: 144px;
    height: 48px;
    font-size: 14px;
    position: relative;
    left: 237px;
    border: 1px solid #37509C;
    background-color: #FFF;
    color: #37509C;
    transition: all .1s linear;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
}

.setting-mute{
  .loading{
    text-align: center;
  }
}

.hide {
    display: none!important;
}

.unregister{
  width:100%;
  height: 55px;
  &__link{
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    color: #666;
    height: 40px;
    width: 348px;
    padding: 12px 24px;
    border-radius: 2px;
    border: 1px solid #ddd;
    float: right;
    transition: all .15s linear;
  }
}

.subscription-setting{

}
.serial-code-setting{
  margin-top: 80px;
  button{
    border: 1px solid #37509C;
    background-color: #FFF;
    color: #37509C;
    border-radius: 2px;
    transition: all .1s linear;
    float: right;
    padding: 10px 20px;
    margin-left: 16px;
  }
}

.setting-mute{
  h1{
    padding:0px;
  }
  .description{
    padding: 8px 0 24px;
  }
}

.setting-social{
  .setting-form{
    position: relative;
  }
  .social-connect{
    position: relative;
    padding: 24px 0;
    border-bottom: 1px solid #EAEAEA;

    button{
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -20px;
      height: 40px;
      width: 96px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      color: #999;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      outline: 0;
    }
  }
  .bottom-item{
    margin-top: 80px;
    padding: 0 0 24px;
    font-weight: 400;
    font-size: 20px;
  }
  .share-url{
    position: relative;
    padding: 24px 0 8px;
    border-bottom: 1px solid #EAEAEA;
    input{
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 8px 2px 0;
      vertical-align: middle;
      background-size: cover;
    }
  }

}

button{
  cursor: pointer;
}

body{
  font-size: 14px;
}

*{
  box-sizing: border-box;
}

.cf::after {
  content: '';
  display: block;
  clear: both;
}

img {
    vertical-align: middle;
    outline: 0;
}

.texc{
  text-align: center;
}

.texo{
  overflow: hidden;
  text-overflow: ellipsis;
}
