.usershowpg {
  padding-top: 50px;
  height: 100%;
  background-color: #EFEFEF;
  box-sizing: border-box;
  .top-area {
    width: 100%;
    height: 200px;
    background-color: white;
    .center-main-area {
      height: 130px;
      padding:0 180px;
      box-sizing: border-box;
      .user {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 20px;
        box-sizing: border-box;
        .left {
          width: 100px;
          height: 100%;
          img {
            width: 80px;
            height: 80px;
          }
        }
        .right {
          padding-left: 10px;
          width: calc(100% - 90px);
          height: 100%;
          box-sizing: border-box;
          .top {
            height: 50px;
          }
          .bottom {
            height: 75px;
          }
        }
      }
    }
    .bottom-main-area {
      height: 100px;
      border-top-color: rgb(245, 245, 245);
      border-top-style: solid;
      .navi {
        height: 100%;
        padding: 0 180px;
        box-sizing: border-box;
        .left {
          float: left;
          display: flex;
          height: 100%;
          .pick-block {
            padding: 20px;
          }
          #follow-count {
            display: flex;
            .follow-block {
              padding: 20px;
            }
            .follower-block {
              padding: 20px;
            }
          }
        }
        .right {
          float: right;
          width: 300px;
          .searchpicks {
            padding: 15px;
            box-sizing: border-box;
            border-color: rgb(245, 245, 245);
            border-left-style: solid;
            border-right-style: solid;
            form {
              text-overflow: hidden;
              box-sizing: 25px;
              height: 30px;
              width: 20vh;
              display: flex;
              img {
                padding-left: 10px;
                margin-top: 7px;
                width: 28px;
                height: 20px;
              }
              .search__query {
                width: 20vh;
                padding-left: 10px;
                color: #ccd4de;
                background-color: transparent;
                border: none;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
  .bottom-area {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
    //height: 500px;
    padding: 0 70px;
    .user-pick {
      &__list {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        //float: left;
         &__block {
          float: left;
          display: inline-block;
          width: 330px;
          height: 400px;
          margin-bottom: 20px;
          background-color: white;
          margin-right: 20px;
          box-sizing: border-box;
          position: relative;
          .image-area {
            width: 100%;
            height: 33%;
            img {
              width: 100%;
              height: 100%;
              background-size: cover;
            }
          }
          .text-area {
            box-sizing: border-box;
            display: block;
            height: 67%;
            .news-title {
              font-weight: bold;
              font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
              font-size: 20px;
              padding: 20px 20px 0 20px;
            }
            .picker-space {
              padding: 0 20px 0 20px;
              &__top {
                margin-top: 10px;
                display: flex;
                &__left {
                  width: 28px;
                  height: 28px;
                  img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-image: url("https://newspicks.com/users/3223239/cover?width=64&height=64&t=20180428231443000")
                  }
                }
                &__right {
                  margin-left: 10px;
                  line-height: 25px;
                  .bottom {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
              &__bottom {
                .comment {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
              }
            }
            .picker-list {
              padding: 0 20px;
              display: flex;
              // &__avatar {
              //   width: 24px;
              //   height: 24px;
              //   background-color: black;
              // }
            }
            .meta {
              width: 100%;
              bottom: 0;
              position: absolute;
              border-top-color: rgb(234, 234, 234);
              border-top-style: solid;
              border-top-width: 1px;
              display: flex;
              padding: 20px;
              color: #999;
              .pick-time {
                margin-left: 10px;
              }
            }
          }
        }
        &__block:last-child {
            margin-right: 0px;
        }
      }
    }
  }
}
